---
layout: default
---

<div class="home">

  <h1>Offres</h1>

  <ul class="posts">
   {% for flux in site.collections.offres.flux %} 
      
      <h2> {{flux}}</h2>
      
      {% for doc in site.offres  %}
      {% if doc.flux and doc.flux == flux %}     
      <li>
        <span class="post-date">{{ doc.pub-date  }}</span>
        <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  <h1>Info</h1>

  <ul class="posts">
    {% for cat in site.collections.articles.categories %}

    <h2> {{cat}} </h2>

    {% for doc in site.articles %}
    {% if doc.categorie and doc.categorie == cat %}
      <li>
        <span class="post-date">{{ doc.pub-date  }}</span>
        <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
      </li>
    {% endif %}{% endfor %}{% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
