<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
    <!-- Brand and toggle get grouped for better mobile display -->

        
        <p class="navbar-text navbar-left"><span class="badge">1256</span> offres</p>
        
    
        
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Recherche">
            </div>
            <button type="submit" class="btn btn-default navbar-btn"><i class="fa  fa-search"></i></button>
            <button type="submit" class="btn btn-default navbar-btn"><i class="fa  fa-bell"></i> Alerte email</button>
          </form>
        
<!--
      <div class="col-sm-3">

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres Offres<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.collections.offres.flux[0] | downcase | replace:'é','e' | prepend: site.url }}">{{ site.collections.offres.flux[0] }}</a></li>
              <li><a href="{{ site.collections.offres.flux[1] | downcase | replace:'é','e' | prepend: site.url }}">{{ site.collections.offres.flux[1] }}</a></li>
              <li><a href="{{ site.collections.offres.flux[2] | downcase | replace:'é','e' | prepend: site.url }}">{{ site.collections.offres.flux[2] }}</a></li>
              <li class="divider"></li>
              <li><a href="{{ site.collections.offres.flux[3] | downcase | replace:'é','e' | prepend: site.url }}">{{ site.collections.offres.flux[3] }}</a></li>
              <li class="divider"></li>
              <li><a href="{{ site.collections.offres.flux[4] | downcase | replace:'é','e' | prepend: site.url }}">{{ site.collections.offres.flux[4] }}</a></li>
            </ul>
          </li>
        </ul>
-->
      </div>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    
  </div><!-- /.container-fluid -->
</nav>