
<header class="site-header">

  <div class="container">
    <div class="jumbotron">
      <div class="logo"></div>
          
        <p class="lead hidden-xs">Service citoyen dédié au développement économique et au soutien de l'emploi local.</p>
            <h1>Aujourd'hui près de chez moi</h1>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 center">
                <div class="col-sm-6">
                 <h2>
                  <div class="today"><a class="btn btn-primary">1283 Offres disponibles</a></div> </h2>
                </div>
                <div class="col-sm-6">
                  <h2>
                  <div class="today"><a class="btn btn-primary">16 juin 2014 - Salon de l'Emploi</a></div> </h2>
                </div>
              </div>
            </div>
    </div>
        
        <div class="row hidden-xs hidden-sm" id="main-sponsor">
          <div class="col-sm-2 col-sm-offset-1 col-md-offset-2 col-md-1">
            <a href="" ><img class="img-responsive" src="{{ site.base-img-url }}cavm-noir.png"></a>
          </div>
          <div class="col-sm-9 col-md-9">
            <p class="lead">
            Ce service est proposé par l'Agglomération Val&nbsp;Maubuée.
            </p>
          </div>
        </div>
        
  </div>
</header>
